@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans:300');

$borderColour: #eeefef;
$bgColour: #fff;
$bodyBG: #fafafa;
$navBarText: #7F7F7F;
$PostHead: #646464;


body {  
  background-color: $bodyBG;
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
  a {
  	font-family: 'Julius Sans One', sans-serif;
    color: #000;
  }
}
.navbar-brand>img {
  height: 100%;
  margin-top: -18px;
}

.navbar-default {
  background-color: $bgColour;
  height: 60px;
  .navbar-nav li a {
    color: $navBarText;
  }
}

.navbar-container {
  width: 670px;
  margin: 0 auto;
}

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post {
  background-color: $bgColour;
  border-color: $borderColour;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
}

.post-head {
  height: 64px;
  padding: 14px 20px;
  color: $PostHead;
  font-size: 20px;
  line-height: 18px;
  .thumbnail {}
  .name {
    display: block;
  }
}

.image {
  border-bottom: 1px solid $borderColour;
  border-top: 1px solid $borderColour;
}

.caption {
  padding: 24px 24px;
  font-size: 14px;
  line-height: 18px;
  color: #8B8B8B;

}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: $borderColour;
  padding: 40px;
  border: 1px solid $borderColour;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}