@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans:300');

body {  
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
  a {
  	font-family: 'Julius Sans One', sans-serif;
    color: #000;
  }
}

.navbar-default {
  background-color: #fff;
  height: 60px;
  .navbar-nav li a {
    color: #7F7F7F;
  }
}

.navbar-container {
  width: 670px;
  margin: 0 auto;
}

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post {
  background-color: #fff;
  border-color: #eeefef;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
}

.post-head {
  height: 64px;
  padding: 14px 20px;
  color: #646464;
  font-size: 20px;
  line-height: 18px;
  .thumbnail {}
  .name {
    display: block;
  }
}

.image {
  border-bottom: 1px solid #eeefef;
  border-top: 1px solid #eeefef;
}

.caption {
  padding: 24px 24px;
  font-size: 14px;
  line-height: 18px;
  color: #8B8B8B;

}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #eeefef;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}